.left{
    width: 100%;
    height: 100%;
}


.main{
    background-color: #5D93A5;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 200px;
    max-width: 780px;
}
.main_left{
    width: 70%;
    height: 100%;
}
.main_right{
    width: 30%;
    height: 100%;
}
.main_top{
    font-size: 42px;
    color: #fff;
    margin: 10px 0 5px 0;
    text-align: center;
}
.main_medium{
    background-color: #5CA4A9;
    color: #fff;
    font-size: 22px;
    width: 250px;
    text-align: center;
    margin: 0 0 10px 27%;
}
.list{
    list-style-type: none;
}
.main_buttom{
    color: #fff;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.main_buttom_content{
    display: flex;
    width: 40%;
    margin-left: 40px;
    margin-bottom: 10px;
}
.phone{
    width: 25px;
    height: 25px;
}
.mail{
    width: 25px;
    height: 25px;
}
.gender{
    width: 25px;
    height: 25px;
}
.school{
    width: 25px;
    height: 25px;
}
.main_right img{
    width: 150px;
    height: 150px;
    border-radius: 40px;
    margin-top: 25px;
    text-align : center;
    line-height : 200px;
} 
div img {
    vertical-align : middle;
}