@charset "UTF-8";
.main {
  background-color: #FFAA64;
  display: flex;
  margin: 0 auto;
  height: 200px;
  max-width: 780px;
  position: relative;
}
.main .main_left {
  width: 70%;
  height: 100%;
}
.main .main_right {
  width: 30%;
  height: 100%;
  position: absolute;
  margin-left: 70%;
}
.main .main_right img {
  vertical-align: middle;
}
.main .main_top {
  font-size: 42px;
  color: #fff;
  margin: 10px 0 5px 0;
  text-align: center;
}
.main .main_medium {
  background-color: #FFDCBB;
  color: #6F3500;
  font-size: 22px;
  width: 250px;
  text-align: center;
  margin: 0 0 15px 27%;
}
.main .list {
  list-style-type: none;
}
.main .main_buttom {
  color: #fff;
  font-size: 18px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
}
.main .main_buttom_content {
  display: flex;
  width: 40%;
  margin-left: 40px;
  margin-bottom: 15px;
}
.main .main_buttom_content .phone {
  width: 25px;
  height: 25px;
}
.main .main_buttom_content .mail {
  width: 25px;
  height: 25px;
}
.main .main_buttom_content .gender {
  width: 25px;
  height: 25px;
}
.main .main_buttom_content .school {
  width: 25px;
  height: 25px;
}
.main .main_right img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  margin: 25px;
  text-align: center;
  line-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  /* 將圖片縮放以完整顯示在容器內，保持寬高比。這可能會導致容器有空白區域。 */
}

.content {
  display: flex;
  margin: 0 auto;
  height: 800px;
  max-width: 780px;
}
.content .left {
  background-color: #FFD494;
  margin: 0 0;
  height: 900px;
  width: 60px;
}
.content .mid {
  background-color: #FFFBEC;
  margin: 0 0;
  height: 900px;
  width: 480px;
}
.content .mid .line2 {
  width: 120px;
  border: 1px solid #000;
  margin: 20px 0 35px 40px;
}
.content .mid > div > p {
  color: #6E3500;
  font-size: 24px;
  margin: 35px 45px;
  font-weight: bold;
}
.content .mid > div .wrap1 {
  display: flex; /*宣告為彈性佈局元素*/
  flex-wrap: wrap;
  margin-top: -20px;
  padding: 0 40px;
}
.content .mid > div .wrap1 > div {
  width: 20%;
  text-align: center;
}
.content .mid > div .wrap1 > div > img {
  width: 50px;
  height: 50px;
}
.content .mid > div .wrap1 > div > p {
  color: #6E3500;
  height: 10px;
}
.content .mid > div .wrap2 {
  color: #6E3500;
  width: 415px;
  margin: 0 40px 40px 40px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.content .mid > div .wrap2 > p {
  color: #fff;
  background-color: #FFAA64;
  border-radius: 5px;
  width: 380px;
  height: 6%;
  padding: 15px;
  margin: -15px 10px 30px 0;
  letter-spacing: 0px;
  line-height: 26px;
}
.content .mid > div .wrap3 {
  display: flex; /*宣告為彈性佈局元素*/
  flex-wrap: wrap;
  text-align: center;
}
.content .mid > div .wrap3 > div {
  width: 140px;
  margin: -20px 40px 15px 40px;
}
.content .mid > div .wrap3 > div > img {
  width: 180px;
  height: 100px;
  border-radius: 5px;
}
.content .mid > div .wrap3 > div > div {
  width: 180px;
}
.content .mid > div .wrap3 > div > div > a {
  color: #6E3500;
  text-decoration: none;
}
.content .mid > div .wrap3 > div > div > a:hover {
  border-bottom: 1px solid #6E3500;
}
.content .right {
  background-color: #FFDCBB;
  margin: 0 0;
  height: 900px;
  width: 240px;
}
.content .right .line3 {
  width: 120px;
  border: 1px solid #000;
  margin: 20px 0 35px 40px;
}
.content .right > p {
  color: #6E3500;
  font-size: 24px;
  margin: 70px 45px 10px 30px;
}
.content .right > .wrap4 {
  color: #6E3500;
  font-size: 14px;
  margin: 10px 40px 80px 30px;
  width: 200px;
}
.content .right > .wrap5 {
  color: #6E3500;
  font-size: 14px;
  margin: 0 25px 90px 30px;
  width: 200px;
}
.content .right > .wrap6 {
  color: #6E3500;
  font-size: 14px;
  margin: 0 25px 70px 30px;
  width: 200px;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .main .main_right {
    width: 100%;
    height: 40%;
    position: inherit;
    margin: 15px 0 -30px 25%;
  }
  .main .main_right img {
    vertical-align: middle;
  }
  .main .main_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .main .main_left .main_top {
    font-size: 36px;
    color: #fff;
    margin: 10px 0 5px 0;
    text-align: center;
  }
  .main .main_left .main_medium {
    background-color: #FFDCBB;
    color: #6F3500;
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }
  .main .main_left .main_buttom {
    font-size: 15px;
    width: 105%;
    margin: 15px 20px 5px 30px;
  }
  .main .main_left .main_buttom_content {
    display: flex;
    width: 40%;
    margin-left: 60px;
    margin-top: -5px;
    margin-bottom: 15px;
  }
  .main .main_left .main_buttom_content .phone {
    width: 20px;
    height: 20px;
  }
  .main .main_left .main_buttom_content .mail {
    width: 20px;
    height: 20px;
  }
  .main .main_left .main_buttom_content .gender {
    width: 20px;
    height: 20px;
  }
  .main .main_left .main_buttom_content .school {
    width: 20px;
    height: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 800px;
    max-width: 780px;
  }
  .content .left {
    display: none;
  }
  .content .mid {
    background-color: #FFFBEC;
    margin: 0 0;
    height: auto;
    width: 100%;
  }
  .content .mid .line1 {
    width: 120px;
    border: 1px solid #000;
    margin: 25px 0 15px 40px;
  }
  .content .mid .line2 {
    display: none;
  }
  .content .mid > div {
    /* 在一行代碼中隱藏兩個元素 */
  }
  .content .mid > div > p {
    color: #6E3500;
    font-size: 20px;
    margin: 30px 45px;
  }
  .content .mid > div .wrap1 {
    display: flex; /*宣告為彈性佈局元素*/
    flex-wrap: wrap;
    padding: 0 40px;
  }
  .content .mid > div .wrap1 > div {
    width: 20%;
    text-align: center;
  }
  .content .mid > div .wrap1 > div > img {
    width: 40px;
    height: 40px;
  }
  .content .mid > div .wrap1 > div > p {
    font-size: 12px;
    color: #6E3500;
    height: 10px;
  }
  .content .mid > div .wrap2 {
    color: #6E3500;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  .content .mid > div .wrap2 > p {
    color: #fff;
    background-color: #FFAA64;
    border-radius: 5px;
    width: 100%;
    height: 5%;
    padding-left: 20px;
    padding-right: 10px;
    margin: -10px 0 30px -15px;
    letter-spacing: 0px;
    line-height: 25px;
  }
  .content .mid > div .wrap2 > div {
    display: none;
  }
  .content .mid .drop {
    display: none;
  }
  .content .right {
    background-color: #FFDCBB;
    height: 500px;
    width: 100%;
    margin: 0 0;
  }
  .content .right .line1 {
    width: 120px;
    border: 1px solid #000;
    margin: 25px 0 15px 40px;
  }
  .content .right .drop {
    display: none;
  }
  .content .right > p {
    color: #6E3500;
    font-size: 20px;
    margin: 20px 45px 10px 45px;
  }
  .content .right > .wrap4 {
    color: #6E3500;
    font-size: 13px;
    margin: 10px 40px 35px 45px;
    width: 200px;
  }
  .content .right > .wrap5 {
    color: #6E3500;
    font-size: 14px;
    margin: 0 25px 40px 45px;
    width: 200px;
  }
  .content .right > .wrap6 {
    color: #6E3500;
    font-size: 14px;
    margin: 0 25px 70px 45px;
    width: 200px;
  }
}/*# sourceMappingURL=main.css.map */