@charset "UTF-8";
.main {
  background-color: #5D93A5;
  display: flex;
  margin: 0 auto;
  height: 200px;
  max-width: 780px;
}
.main .main_left {
  width: 70%;
  height: 100%;
}
.main .main_right {
  width: 30%;
  height: 100%;
}
.main .main_right img {
  vertical-align: middle;
}
.main .main_top {
  font-size: 42px;
  color: #fff;
  margin: 10px 0 5px 0;
  text-align: center;
}
.main .main_medium {
  background-color: #5CA4A9;
  color: #fff;
  font-size: 22px;
  width: 250px;
  text-align: center;
  margin: 0 0 15px 27%;
}
.main .list {
  list-style-type: none;
}
.main .main_buttom {
  color: #fff;
  font-size: 18px;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 10px;
}
.main .main_buttom_content {
  display: flex;
  width: 40%;
  margin-left: 40px;
  margin-bottom: 15px;
}
.main .phone {
  width: 25px;
  height: 25px;
}
.main .mail {
  width: 25px;
  height: 25px;
}
.main .gender {
  width: 25px;
  height: 25px;
}
.main .school {
  width: 25px;
  height: 25px;
}
.main .main_right img {
  width: 150px;
  height: 150px;
  border-radius: 40px;
  margin: 25px;
  text-align: center;
  line-height: 200px;
}

.content {
  display: flex;
  margin: 0 auto;
  height: 800px;
  max-width: 780px;
}
.content .left {
  background-color: #12405C;
  margin: 0 0;
  height: 860px;
  width: 60px;
}
.content .mid {
  background-color: #EBF5EE;
  margin: 0 0;
  height: 860px;
  width: 480px;
}
.content .mid > p {
  color: #fff;
  background-color: #12405C;
  border-radius: 25px;
  width: 415px;
  height: 6%;
  padding: 15px;
  margin: 20px auto 30px auto;
  letter-spacing: 0px;
  line-height: 26px;
}
.content .mid > div > p {
  font-size: 24px;
  margin: 15px 45px;
}
.content .mid > div .wrap1 {
  display: flex; /*宣告為彈性佈局元素*/
  flex-wrap: wrap;
  padding: 0 40px;
}
.content .mid > div .wrap1 > div {
  width: 25%;
  text-align: center;
}
.content .mid > div .wrap1 > div > img {
  width: 50px;
  height: 50px;
}
.content .mid > div .wrap1 > div > p {
  height: 10px;
}
.content .mid > div .wrap2 {
  display: flex; /*宣告為彈性佈局元素*/
  flex-wrap: wrap;
  text-align: center;
}
.content .mid > div .wrap2 > div {
  width: 150px;
  margin: 0 40px 15px 40px;
}
.content .mid > div .wrap2 > div > img {
  width: 100px;
  height: 100px;
}
.content .mid > div .wrap2 > div > div > a {
  color: #000;
}
.content .mid > div .wrap3 {
  width: 415px;
  margin: 0 40px 50px 40px;
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.content .right {
  background-color: #A4C8CB;
  margin: 0 0;
  height: 860px;
  width: 240px;
}
.content .right > p {
  font-size: 24px;
  margin: 60px 45px 10px 30px;
}
.content .right > .wrap4 {
  font-size: 18px;
  margin: 10px 40px 80px 30px;
  width: 200px;
}
.content .right > .wrap5 {
  font-size: 14px;
  margin: 0 25px 70px 30px;
  width: 200px;
}
.content .right > .wrap6 {
  font-size: 18px;
  margin: 0 25px 70px 30px;
  width: 200px;
}

@media (max-width: 720px) {
  .main {
    background-color: #5D93A5;
    display: flex;
    margin: 0 auto;
    width: 720px;
    height: 250px;
    max-width: 720px;
  }
  .main .main_left {
    width: 70%;
    height: 100%;
  }
  .main .main_left .main_top {
    font-size: 32px;
    margin: 25px 0 15px 0px;
  }
  .main .main_left .main_medium {
    background-color: #5CA4A9;
    color: #fff;
    font-size: 22px;
    width: 210px;
    text-align: center;
    margin: 0 0 15px 30%;
  }
  .main .main_left .list {
    list-style-type: none;
  }
  .main .main_left .main_buttom {
    color: #fff;
    font-size: 18px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
  }
  .main .main_left .main_buttom_content {
    width: 40%;
    margin-left: 40px;
    margin-bottom: 15px;
  }
  .main .main_right {
    width: 30%;
    height: 100%;
  }
  .main .main_right img {
    vertical-align: middle;
    margin: 50px 30px;
  }
  .content {
    display: flex;
    margin: 0 auto;
    height: 800px;
    max-width: 780px;
  }
  .content .left {
    background-color: #12405C;
    margin: 0 0;
    height: 860px;
    width: 60px;
  }
  .content .mid {
    background-color: #EBF5EE;
    margin: 0 0;
    height: 860px;
    width: 480px;
  }
  .content .mid > p {
    color: #fff;
    background-color: #12405C;
    border-radius: 25px;
    width: 415px;
    height: 6%;
    padding: 15px;
    margin: 20px auto 30px auto;
    letter-spacing: 0px;
    line-height: 26px;
  }
  .content .mid > div > p {
    font-size: 24px;
    margin: 15px 45px;
  }
  .content .mid > div .wrap1 {
    display: flex; /*宣告為彈性佈局元素*/
    flex-wrap: wrap;
    padding: 0 40px;
  }
  .content .mid > div .wrap1 > div {
    width: 25%;
    text-align: center;
  }
  .content .mid > div .wrap1 > div > img {
    width: 50px;
    height: 50px;
  }
  .content .mid > div .wrap1 > div > p {
    height: 10px;
  }
  .content .mid > div .wrap2 {
    display: flex; /*宣告為彈性佈局元素*/
    flex-wrap: wrap;
    text-align: center;
  }
  .content .mid > div .wrap2 > div {
    width: 150px;
    margin: 0 40px 15px 40px;
  }
  .content .mid > div .wrap2 > div > img {
    width: 100px;
    height: 100px;
  }
  .content .mid > div .wrap2 > div > div > a {
    color: #000;
  }
  .content .mid > div .wrap3 {
    width: 415px;
    margin: 0 40px 50px 40px;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  .content .right {
    background-color: #A4C8CB;
    margin: 0 0;
    height: 860px;
    width: 240px;
  }
  .content .right > p {
    font-size: 24px;
    margin: 60px 45px 10px 30px;
  }
  .content .right > .wrap4 {
    font-size: 14px;
    margin: 0 25px 70px 30px;
    width: 200px;
  }
  .content .right > .wrap5 {
    font-size: 18px;
    margin: 10px 40px 80px 30px;
    width: 200px;
  }
  .content .right > .wrap6 {
    font-size: 18px;
    margin: 0 25px 70px 30px;
    width: 200px;
  }
}/*# sourceMappingURL=main.css.map */